@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Entities.Employee>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form asp-controller="Home" asp-action="SubmitText" method="post">
        <input type="text" name="inputText" />
        <button type="submit">Submit</button>
    </form>
    
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    Номер:
                    @item.Id;
                </td>
                <td>
                    Имя:
                    @item.Name;
                </td>
                <td>
                    Фамилия:
                    @item.LastName;
                </td>
                <td>
                    Почта: 
                    @item.Email;
                </td>
                <td>
                    Дата рождения:
                    @item.DateOfBirth.Date;
                </td>
                <td>
                    Отдел: 
                    @item.Department.Name;
                </td>
                <td>
                    Должность:
                    @item.Position.Name;
                </td>
                <br />
            </tr>
        }
    }

</div>